.TableRow {

	display: flex;
	justify-content: space-between;
	align-content: center;
	text-align: center;
	padding: 0;

	li {
		flex: 1;
		list-style: none;
	}

}

.header {
	li {
		border: 3px solid #ccc;
	}
}

.main {
	li {
		border: 1px solid #023569;
	}
}
